@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
   --primary-950: #172554;
  --primary-900: #1e3a8a;
  --primary-800: #1e40af;
  --primary-700: #1d4ed8;
  --primary-600: #2563eb;
  --primary-500: #3b82f6;
  --primary-400: #60a5fa;
  --primary-300: #93c5fd;
  --primary-200: #bfdbfe;
  --primary-100: #dbeafe;
  --primary-50: #eff6ff;


  --zinc-950: #09090b;
  --zinc-900: #18181b;
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --zinc-600: #52525b;
  --zinc-500: #71717a;
  --zinc-400: #a1a1aa;
  --zinc-300: #d4d4d8;
  --zinc-200: #e4e4e7;
  --zinc-100: #f4f4f5;
  --zinc-50: #fafafa;

  --special-1:#E9F3FF;
  --special-2:#FFF2E9;
  --special-3:#E8F3D6;
  --special-4:#4BBC89;
  --special-5:#FF5656;
  --special-6:#4BBC89;

}

a,
button,
li,
path,
svg,
span {
  transition: all 0.3s ease-in-out !important;
}
@font-face {
  font-family: "Dana";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/DanaFaNum-Regular.ttf");
}
@font-face {
  font-family: "Dana";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/DanaFaNum-Medium.ttf");
}
@font-face {
  font-family: "Dana";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/DanaFaNum-Bold.ttf");
}

html,
* {
  font-family: "Dana", sans-serif !important;
}
.ai-flight-bg{
  background-image: url("./images/ai-flight-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
aside button.ai-gap-2:hover span.ai-rounded-full{
  background-color: var(--primary-700);
  border: 1px solid #000;
}
.ai-h-818{
  height: 818px;
}
.ai-min-h-818{
  min-height: 818px;
}
.ai-border-ligr{
  border: 1px solid transparent;
    border-radius: 16px;
    background: linear-gradient(to top,#FFFFFF4A, #F6F6F6EB) padding-box, linear-gradient(to bottom, #2870ED, #838383) border-box;
}
.ai-ligr2{
  border-radius: 15px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.29) 0%, rgba(246, 246, 246, 0.92) 100%);

}
.border-gr3{
padding: 1px !important;
}
.ai-w-873{
  width: 873px;
}


 
.shine {
  animation: shining 1.5s ease-in-out ;
   transform: scale(1.11);
   animation-delay: 0.4s;

}

@keyframes shining {
  0% {
   opacity: 1;
   transform: scale(0.5);
  }
50% {
   opacity: 0.4;
   transform: scale(1.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
 .our-supp:hover .smile{
  transform: rotate(360deg);
 }
 .ai-user-questions{
  justify-content: start;
 }
  .ai-bot-answer{
    justify-content: end;
  }
  .ai-user-questions .message{
background-color: #fff;
position: relative;
border-top-left-radius: 50px;
border-top-right-radius: 40px;
border-bottom-left-radius: 50px;
color: var(--zinc-800);
  animation: scaleR 0.35s ease-in-out ;
  }
  @keyframes scaleR {
  0% {
   opacity: 0.5;
   transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
    .ai-bot-answer .message{
background-color: var(--zinc-800);
position: relative;
border-top-left-radius: 40px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
color: #fff;
  animation: scaleR 0.35s ease-in-out ;
  }
   .ai-user-questions .message::before{
    content: '';
    position: absolute;
    right: 12px;
    background-image: url(./images/user.svg);
    width: 24px;
    height: 24px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
   }
   .ai-bot-answer .message::before{
    content: '';
    position: absolute;
    right: 12px;
    background-image: url(./images/Bot.svg);
    width: 24px;
    height: 24px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
   }
   .clicker-list .active{
    color: var(--zinc-900) !important;
   }
     .clicker-list .active::before{
      width: 100%;
      height: 5px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: var(--primary-600);
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      
     }
     .result-item{
      box-shadow: 0px 4px 11.1px 1px #0000001A;

     }
      .buy-btn:hover{
        background-color: var(--primary-700);
      }
      .ai-w-1px{
        width: 1px;
      }
      .bg-gray-29{
        background-color: #F6F6F6EB;
      }
      .h-431px{
        height: 431px;
      }
      .h-289px{
        height: 289px;
      }
       .h-60px{
        height: 60px;
       }
       .w-232px{
        width: 232px;
       }
       .w-247px{
        width: 247px;
       }
       .no-scrollbar::-webkit-scrollbar{
display: none !important;
       }
       .h-338px{
        height: 338px;
       }
       .mob-inp::placeholder{
        font-size: 14px;
       }